/* modal.component.css */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: var(--secundary);
  margin: 15% auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 40vw;
  text-align: center;

  &__error {
    background-color: var(--error-dark);
  }
  &__success {
    background-color: var(--success-dark);
  }
  &__confirmation {
    color: var(--warning-dark);
  }
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  img {
    position: absolute;
    opacity: 15%;
    margin-top: 20px;
  }
}

.modal-title {
  flex-grow: 1;
  text-align: center;
  font-size: var(--font-h2);
  font-weight: 500;

  &__error {
    color: var(--error-light);
  }

  &__confirmation {
    color: var(--warning-light);
  }

  &__success {
    color: var(--success-light);
  }
}

.close {
  position: absolute;
  right: 0%;
  top: 10%;
  transform: translateY(-50%);
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.btn-modal {
  &__error,
  &__warning,
  &__success {
    color: var(--primary);
  }

  &__error {
    background-color: var(--error);
  }

  &__warning {
    background-color: var(--warning);
  }

  &__success {
    background-color: var(--success);
  }
}

.close:hover,
.close:focus {
  color: var(--primary);
  text-decoration: none;
}

.modal-body {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &__message {
    color: var(--secundary-light);
    font-weight: 500;
  }
}

.modal-footer {
  display: flex;
  justify-content: space-evenly;
}

.btn-modal-close {
  width: 260px;
  height: 45px;

  border-radius: 5px;

  color: var(--secundary-light);
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: center;

  padding: 0px 20px;
  cursor: pointer;
}
