h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
span,
label,
input {
  font-family: Roboto;
}

h1 {
  font-size: var(--font-h1);
  color: var(--secundary);
}

h2.title-content,
h2.hours-remaining {
  font-weight: bold;
  color: var(--secundary);
}

h4.title-content {
  font-size: 23px;
  font-style: italic;
  font-weight: 200;
  color: var(--secundary);
  padding: 15px 0px 18px 15px;
}

h2 {
  font-size: var(--font-h2);
  font-weight: 300;
  color: var(--primary);
}

h3 {
  font-size: var(--font-h3);
  font-weight: 300;
  color: var(--secundary);
}

h3.details-habito {
  font-size: var(--font-h3);
  font-weight: 300;
  color: var(--primary);
}

h3.habito {
  font-style: italic;
  font-size: var(--font-h3);
  font-weight: 300;
  color: var(--secundary-light);
}

h4 {
  font-size: var(--font-h4);
  color: var(--secundary-light);
  font-weight: 500;
}

p {
  font-size: var(--font-p);
  color: var(--secundary-light);
  font-weight: 400;
}

p.p-incrementado-descricao {
  font-size: 0.75rem;
  font-style: italic;
  position: absolute;
  right: 15px;
  bottom: 5px;
}
