h4 {
  color: var(--primary);
}

h2.mensagem-motivacao {
  color: var(--secundary);
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;
}

.container__habito {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

span {
  font-weight: bold;
}
