<div class="container">
  <div class="container__content">
    <div class="container__content__botoes">
      <button (click)="clickReturnHome()" class="btn-voltar">
        <img src="return.svg" alt="Voltar Home" />
        <span class="tooltip-text">Retornar para a Home</span>
      </button>
      <button (click)="openEditHabito()" class="btn-editar">
        <img src="edit.svg" alt="Editar Habito" />
        <span class="tooltip-text">Editar Hábito</span>
      </button>
      <button (click)="openDeleteHabito()" class="btn-remover">
        <img src="delete.svg" alt="Remover Habito" />
        <span class="tooltip-text">Deletar Hábito</span>
      </button>
    </div>
  </div>
</div>
